/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/resources/views/*
/.idea
/.vscode
/.vagrant
Vagrantfile
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
!.gitkeep
.ftpconfig
composer.lock
.htpasswd
laravel-echo-server.json
laravel-echo-server.lock
package-lock.json
/public/js/app.js
/public/mix-manifest.json
